* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
}
button {
  font-family: "Alata", sans-serif;
  border: none;
  background-color: transparent;
}
button:focus {
  outline: none;
}
.head {
  background-color: #246eb9;
  height: 100vh;
  text-align: center;
  padding: 20vh 10vh;
}

.head > h1 {
  font-size: 72px;
}
.head > p {
  margin-top: 10vh;
  font-size: 30px;
}
.header-buttons {
  margin-top: 10vh;
}

.header-buttons > button {
  font-size: 30px;
  padding: 10px;
  border: 2px #f8fa90 solid;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  color: #f8fa90;
}
.header-buttons > button:hover {
  background-color: #f8fa90;
  color: #246eb9;
}

.info {
  background-color: #f8fa90;
  text-align: center;
  height: 100vh;
  padding: 10vh 10vh;
}

.info > h2 {
  font-size: 56;
  color: #246eb9;
}
.info > p {
  margin-top: 10vh;
  font-size: 30px;
  text-align: justify;
  line-height: 6vh;
}
.highlight {
  color: #246eb9;
}
